{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NavBar HTML{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightElement(block);
            });
        });
    </script>
  
</head>
<body>
  <style>
    .svg-container {
      position: relative;
      display: inline-block;
    }
    .form-content {
      transition: opacity 0.5s ease, visibility 0.5s ease-in-out;
    }
  </style>
  
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <div id="liveAlertPlaceholder" class="position-fixed top-0 end-0 p-4" style="z-index: 9000;"></div>


  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginSignUpModal">
    Launch demo modal
  </button> -->

  
  <div class="modal fade" id="loginSignUpModal" tabindex="-1" aria-labelledby="loginSignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="display: block;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="login-or-registration" class="modal-body container mt-5"
          style="margin-top: 50px; width: 50%; padding-bottom: 100px;">
          <h1 id="form-title" class="text-center">Login</h1>
  
          <!-- Login Form -->
          <div id="login-div" class="form-content">
            <form id="login-form" onsubmit="return false">
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="login-email" class="form-control" required style="background-color: beige;">
                <label class="form-label" for="login-email">Email
                  address</label>
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="login-password" class="form-control" required style="background-color: beige;">
                <label class="form-label" for="login-password">Password</label>
              </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit" id="login-button" class="btn btn-light" data-mdb-ripple-color="black">Login</button>
              </div>
            </form>
  
            <div class="row mb-4 mt-4">
              <a class="text-center" href="#!">Forgot password?</a>
            </div>
  
            <p class="text-center">Not a member? <a href="#" id="toggle-to-register">Sign Up</a></p>
          </div>
  
          <!-- Registration Form -->
          <div id="sign-up-div" class="form-content" style="opacity: 0; visibility: hidden; position: absolute; top: 0;">
            <form id="sign-up-form" onsubmit="return false">
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" id="sign-up-name" class="form-control" required style="background-color: beige;">
                <label class="form-label" for="sign-up-name">Name</label>
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="sign-up-email" class="form-control" required style="background-color: beige;">
                <label class="form-label" for="sign-up-email">Email
                  address</label>
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="sign-up-password" class="form-control" required
                  style="background-color: beige;" minlength="8">
                <label class="form-label" for="sign-up-password">Password</label>
              </div>
  
  
              <div class="d-flex justify-content-center">
                <button type="submit" id="sign-up-button" class="btn btn-light"
                  data-mdb-ripple-color="black">Sign Up</button>
              </div>
  
              <p class="text-center mt-4">Already a member? <a href="#" id="toggle-to-login">Login</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="display: block;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="login-or-registration" class="modal-body container mt-5"
          style="margin-top: 50px; width: 50%; padding-bottom: 100px;">
          <h1 id="form-title" class="text-center">Change Password</h1>
  
          <div id="change-password-div" class="form-content">
            <form id="change-password-form" onsubmit="return false">
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="old-password" class="form-control" required style="background-color: beige;" minlength="8">
                <label class="form-label" for="old-password">Old Password</label>
              </div>
  
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="new-password" class="form-control" required style="background-color: beige;" minlength="8">
                <label class="form-label" for="new-password">New Password</label>
              </div>

              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="confirm-password" class="form-control" required style="background-color: beige;" minlength="8">
                <label class="form-label" for="confirm-password">Confirm Password</label>
              </div>
  
              <div class="d-flex justify-content-center">
                <button type="submit" id="change-password-button" class="btn btn-light" data-mdb-ripple-color="black">Change Password</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex flex-column vh-100">

    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="container">
        <a class="navbar-brand" href="{{ request.scheme }}://{{ request.get_host }}"><i class='uil uil-user'></i>Blogs</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a href="/home" class="nav-link">
                <span data-hover="Home">Home</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span data-hover="Topics">Topics</span>
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% block nav_bar_topics %}
                  {% for topic in topics_list%}
                    <li>
                        <a class="dropdown-item" href="{{ request.scheme }}://{{ request.get_host }}/{{ topic.name }}">{{ topic.name }} {{ topic.total_blogs }}</a>
                    </li>
                  {% endfor %}
                {% endblock %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="false">
                  <span data-hover="Disabled">Disabled</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/sponsor">
                  <span data-hover="Sponsor">Sponsor</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rss">
                <span data-hover="RSS">RSS</span>
              </a>
            </li>
          </ul>


          <div class="dropdown d-flex" id="navProfileInfo">
          </div>


        </div>
      </div>
    </nav>

    <div class="p-2 flex-fill container" style="margin-bottom: 100px;">
      {% block content %}
      {% endblock %}
    </div>

      <footer class="py-3 my-4">
        <ul class="nav justify-content-center mb-2">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="https://piyushkumar.dev/#contact" class="nav-link px-2 text-body-secondary" target="_blank">Contact</a></li>
          <li class="nav-item"><a href="https://piyushkumar.dev/" class="nav-link px-2 text-body-secondary" target="_blank">About</a></li>
        </ul>
        <p class="text-center">Piyush Kumar Blogs</p>
      </footer>

  </div>

  <script>

    const loginCallBacks = new Set();
    const logoutCallBacks = new Set();
    const loginSignUpModal = new bootstrap.Modal(document.getElementById('loginSignUpModal'));
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder');

    window.addEventListener('load', () => {
      getUser();
      loginCallBacks.add(getUser);
      logoutCallBacks.add(getUser);
    });

    function navBarLoginStatus(isLoggedIn=false, profile_info={}) {
      const navProfileInfo = document.getElementById('navProfileInfo');
      if(isLoggedIn) {
        navProfileInfo.innerHTML = `
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" data-mdb-ripple-color="black" aria-expanded="false">
            ${profile_info.name}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"  data-bs-toggle="modal" data-mdb-ripple-color="black" data-bs-target="#changePasswordModal">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Saved blogs</a></li>
            <li><a class="dropdown-item" href="#" onclick="logOut()">Log Out</a></li>
          </ul>
        `;
      } else {
        navProfileInfo.innerHTML = `
          <button type="button" class="btn btn-light" data-bs-toggle="modal" data-mdb-ripple-color="black" data-bs-target="#loginSignUpModal">
            Login / Sign Up
          </button>
        `;
      }
    };

    function getUser() {
      const accessToken = localStorage.getItem('access_token');
      if (accessToken) {
        axios.get('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/me/')
          .then(response => {
            if (response.data.data.name) {
              navBarLoginStatus(true, response.data.data);
              return
            }
          })
          .catch(error => {
            if (error.response) {
                    appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
            } else {
                showAlert('Registration failed: ' + error.message, 'danger');
            }
          });
      }
      navBarLoginStatus(false);
    };


    function logOut() {
      localStorage.removeItem('access_token');
      localStorage.removeItem('refresh_token');
      logoutCallBacks.forEach(func => {
        func();
      })
    }


    axios.interceptors.request.use(
      (config) => {
        config.headers['Content-Type'] = 'application/json'
        const accessToken = localStorage.getItem('access_token');
        if (accessToken) {
          config.headers.Authorization = accessToken;
        }
        return config;
      },
      (error) => {
        return Promise.reject(error);
      }
    );

    // Axios interceptor to handle 403 errors
    axios.interceptors.response.use(
      (response) => response,
      (error) => {
        if (error.response && error.response.status === 403) {
          localStorage.removeItem('access_token');
          localStorage.removeItem('refresh_token');
          loginSignUpModal.show();
        }
        else {
          return Promise.reject(error);
        }
      }
    );

    
    const appendAlert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

    document.getElementById('toggle-to-register').addEventListener('click', function (event) {
      event.preventDefault();
      document.getElementById('login-div').style.opacity = '0';
      document.getElementById('login-div').style.visibility = 'hidden';
      setTimeout(function () {
        document.getElementById('login-div').style.position = 'absolute';
        document.getElementById('sign-up-div').style.position = 'relative';
        document.getElementById('sign-up-div').style.opacity = '1';
        document.getElementById('sign-up-div').style.visibility = 'visible';
        document.getElementById('form-title').textContent = 'Sign Up';
      }, 500); // match the transition duration
    });


    document.getElementById('toggle-to-login').addEventListener('click', function (event) {
      event.preventDefault();
      document.getElementById('sign-up-div').style.opacity = '0';
      document.getElementById('sign-up-div').style.visibility = 'hidden';
      setTimeout(function () {
        document.getElementById('sign-up-div').style.position = 'absolute';
        document.getElementById('login-div').style.position = 'relative';
        document.getElementById('login-div').style.opacity = '1';
        document.getElementById('login-div').style.visibility = 'visible';
        document.getElementById('form-title').textContent = 'Login';
      }, 500); // match the transition duration
    });

    // Signing In a User
    document.getElementById('login-button').addEventListener('click', function () {
      if(!document.getElementById('login-form').checkValidity())
        return

      const email = document.getElementById('login-email').value;
      const password = document.getElementById('login-password').value;
      
      // Make the Axios POST request
      axios.post('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/token/', {
        email: email,
        password: password
      })
      .then(response => {
        // Handle the response data
        localStorage.setItem('access_token', response.data.data.access_token);
        localStorage.setItem('refresh_token', response.data.data.refresh_token);
        loginSignUpModal.hide()
        loginCallBacks.forEach(func => {
          console.log('***', func)
          func();
        })
      })
      .catch(error => {
        if (error.response) {
          appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
        } else {
          showAlert('Registration failed: ' + error.message, 'danger');
        }
      });
    });


    // Registering a user
    document.getElementById('sign-up-button').addEventListener('click', function () {
      if(!document.getElementById('sign-up-form').checkValidity())
        return

      const name = document.getElementById('sign-up-name').value;
      const email = document.getElementById('sign-up-email').value;
      const password = document.getElementById('sign-up-password').value;

      // Make the Axios POST request
      axios.post('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/register/', {
        name: name,
        email: email,
        password: password
      })
      .then(response => {
        alert('Registration successful!');
        loginSignUpModal.hide()
      })
      .catch(error => {
        if (error.response) {
          appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
        } else {
          showAlert('Registration failed: ' + error.message, 'danger');
        }

      });
    });


    function updateChangePasswordFieldsColor(color='black') {
      const oldPassword = document.getElementById('old-password');
      const newPassword = document.getElementById('new-password');
      const confirmPassword = document.getElementById('confirm-password');

      document.querySelector("label[for=" + oldPassword.id  + "]").style.color = '#626258';
      document.querySelector("label[for=" + confirmPassword.id  + "]").style.color = color;
      document.querySelector("label[for=" + newPassword.id  + "]").style.color = color;
    }

    document.getElementById('old-password').addEventListener('focus', () => updateChangePasswordFieldsColor('#626258'));
    document.getElementById('new-password').addEventListener('input', () => updateChangePasswordFieldsColor('#626258'));
    document.getElementById('confirm-password').addEventListener('input', () => updateChangePasswordFieldsColor('#626258'));

    
    // Change Password
    document.getElementById('change-password-button').addEventListener('click', function () {
      if(!document.getElementById('change-password-form').checkValidity())
        return;

      const oldPassword = document.getElementById('old-password');
      const newPassword = document.getElementById('new-password');
      const confirmPassword = document.getElementById('confirm-password');

      if(newPassword.value != confirmPassword.value) {
        appendAlert('Passwords do not match', 'danger');
        confirmPassword.focus();
        updateChangePasswordFieldsColor('red')
        return;
      }

      // Make the Axios POST request
      axios.post('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/change_password/', {
        name: name,
        newPassword: newPassword,
        confirmPassword: confirmPassword
      })
      .then(response => {
        loginSignUpModal.hide()
      })
      .catch(error => {
        if (error.response) {
          appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
        } else {
          showAlert('Registration failed: ' + error.message, 'danger');
        }

      });
    });
  </script>

</body>
</html>