{% extends 'base/layout.html' %}

{% block content %}
<div class="container mt-5" style="margin-top: 50px; width: 30%; padding-bottom: 100px;">
        <h1 id="form-title" class="text-center">Sign In</h1>

        <!-- Login Form -->
        <div id="login-div" class="form-content">
                <form id="login-form">
                        
                        <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="login-email" class="form-control" required style="background-color: beige;">
                                <label class="form-label" for="login-email">Email address</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="login-password" class="form-control" required style="background-color: beige;">
                                <label class="form-label" for="login-password">Password</label>
                        </div>

                        <div class="d-flex justify-content-center">
                                <button type="submit" id="login-button" class="btn btn-light"
                                        data-mdb-ripple-color="black">Sign in</button>
                        </div>
                </form>

                <div class="row mb-4 mt-4">
                        <a class="text-center" href="#!">Forgot password?</a>
                </div>

                <p class="text-center">Not a member? <a href="#" id="toggle-to-register">Register</a></p>
        </div>

        <!-- Registration Form -->
        <div id="register-div" class="form-content"
                style="opacity: 0; visibility: hidden; position: absolute; top: 0;">
                <form id="registration-form">
                        <div data-mdb-input-init class="form-outline mb-4">
                                <input type="text" id="register-name" class="form-control" required style="background-color: beige;">
                                <label class="form-label" for="register-name">Name</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="register-email" class="form-control" required style="background-color: beige;">
                                <label class="form-label" for="register-email">Email address</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password" id="register-password" class="form-control" required style="background-color: beige;" minlength="8">
                                <label class="form-label" for="register-password">Password</label>
                        </div>


                        <div class="d-flex justify-content-center">
                                <button type="submit" id="register-button" class="btn btn-light"
                                        data-mdb-ripple-color="black">Register</button>
                        </div>

                        <p class="text-center mt-4">Already a member? <a href="#" id="toggle-to-login">Login</a></p>
                </form>
        </div>

</div>

<style>
        .form-content {
                transition: opacity 0.5s ease, visibility 0.5s ease-in-out;
        }
</style>

<script>
        document.getElementById('toggle-to-register').addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('login-div').style.opacity = '0';
                document.getElementById('login-div').style.visibility = 'hidden';
                setTimeout(function () {
                        document.getElementById('login-div').style.position = 'absolute';
                        document.getElementById('register-div').style.position = 'relative';
                        document.getElementById('register-div').style.opacity = '1';
                        document.getElementById('register-div').style.visibility = 'visible';
                        document.getElementById('form-title').textContent = 'Register';
                }, 500); // match the transition duration
        });

        document.getElementById('toggle-to-login').addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('register-div').style.opacity = '0';
                document.getElementById('register-div').style.visibility = 'hidden';
                setTimeout(function () {
                        document.getElementById('register-div').style.position = 'absolute';
                        document.getElementById('login-div').style.position = 'relative';
                        document.getElementById('login-div').style.opacity = '1';
                        document.getElementById('login-div').style.visibility = 'visible';
                        document.getElementById('form-title').textContent = 'Login';
                }, 500); // match the transition duration
        });


        // Signing In a User
        document.getElementById('login-button').addEventListener('click', function () {
                if(!document.getElementById('login-form').checkValidity())
                        return

                const email = document.getElementById('login-email').value;
                const password = document.getElementById('login-password').value;
                
                // Make the Axios POST request
                axios.post('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/token/', {
                        email: email,
                        password: password
                }, {
                        headers: {
                                'Content-Type': 'application/json'
                        }
                })
                .then(response => {
                        // Handle the response data
                        console.log(response.data);
                        alert('Login successful!');
                })
                .catch(error => {
                        if (error.response) {
                                appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
                        } else {
                                showAlert('Registration failed: ' + error.message, 'danger');
                        }

                });
        });


        // Registering a user
        document.getElementById('register-button').addEventListener('click', function () {
                if(!document.getElementById('registration-form').checkValidity())
                        return

                const name = document.getElementById('register-name').value;
                const email = document.getElementById('register-email').value;
                const password = document.getElementById('register-password').value;
                
                // Make the Axios POST request
                axios.post('{{ request.scheme }}://{{ request.get_host }}/api/v1/users/register/', {
                        name: name,
                        email: email,
                        password: password
                }, {
                        headers: {
                                'Content-Type': 'application/json'
                        }
                })
                .then(response => {
                        // Handle the response data
                        console.log(response.data);
                        alert('Registration successful!');
                })
                .catch(error => {
                        if (error.response) {
                                appendAlert(`[${error.response.status}]: ${error.response.data.message}`, 'danger')
                        } else {
                                showAlert('Registration failed: ' + error.message, 'danger');
                        }

                });
        });
</script>
{% endblock %}